@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


html, body {
    background-color: rgb(226, 226, 226);
}



/* login  start*/

#root{
    background-color: rgb(226, 226, 226);
}

.login-page {
  
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    border-radius: 8px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
     border-radius: 4px;
    font-family: "Roboto", sans-serif;
    outline: 0;
     background-color: rgb(226, 226, 226);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
     border-radius: 2px;
    text-transform: uppercase;
    outline: 0;
    background: #303030;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #BABABA;
  }
  .form .message {
    margin: 15px 0 0;
    color: #303030;
    font-size: 12px;
  }
  .form .message a {
    color: #BABABA;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }

  /* login  end*/


  .search{
    position: fixed;
    top: 16px;
    z-index: 999999;
    left: 204px;
    -webkit-border-radius:80px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: none;
    padding-left: 16px;
  }

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.content__wrap {
    float: left;
    width: 100%;
    padding-top: 20px;
}

.content {
    clear: both;
    overflow: auto;
    min-height: 600px;
}

.content__row{
    position: relative;
    margin-right: 320px;
    margin-left: 60px;
    margin-top: 65px;
    

}

.sidebar {
    position: fixed;
    text-align: center;
    color: #ffffff;
    padding-top: 90px;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #FFFFFF;
	height: 100vh;
	width: 100%;
    max-width: 320px;
}



.menubar{
    position: fixed !important;
	color: #ffffff;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #FFFFFF;
	height: 100vh;
	width: 100%;
    max-width: 56px;
    padding-top: 90px;
    padding-left: 16px;
}

.sidebar__nav{
    width: 490px;
    height: 60px;
    background: #FFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

.navbar{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 60px;
    background: #FFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.cart__product{
    background-color: #bababa;
    margin-bottom: 4px;
    padding-bottom: 1px;
}

.checkOut{
  background-color: #bababa;
  margin-top: 2px;
  padding-bottom: 4px;
}

.brand {
    clear: both;
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-variant-caps: titling-caps;

}


.menu {
    z-index: 10;
    left: 18;
    position: absolute;
    color: #7D7D7D;
}

.menu:hover{
    color: #303030;
}

.menu-add{
    color: #BABABA; 
}
.menu-search {
    right: 0;

}

.content__post{
    float: left;
    width: 300px;
    height: 250px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
}

.post__des{
    min-height: 70px;
    max-height: 70px;
    margin-top: 4px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.post__img img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 100%;
    max-width: 100%;
    height: 160px;
}

.item__name{
    padding: 4px 10px 0px 10px;
    font-size: 16px;
    color: #000000;
}


.item__price{
    padding: 4px 10px 0px 10px;
    font-size: 20px;
    color: #000000;
    margin-top: -18px;
}

.empty__order{
    margin: 0 auto;

}



@media only screen and (max-width: 768px) {
    .sidebar {
      display: none;
    }
    .content__row{
        margin-right: 8px;
        margin-left: 58px;
    }
    
}


@media only screen and (max-width: 1040px) {

    .content__post{
        float: left;
        width: 430px;
        height: 250px;
        padding: 5px;
        margin-left: 10px;
        border-radius: 4px;
    }

    .post__des{
        width: 430px;
    }
    
    .post__img img{
        min-width: 430px;
    }

}



/* 
@media only screen and (min-width: 768px) {
    .brand {
        margin-left: 472px;
    }
    
} */



/* increase decrease */


form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  /* form #input-wrap {
    margin: 0px;
    padding: 0px;
  } */
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }



